@namespace HospitalManagementSystem.Blazor
@inherits LayoutComponentBase

<FluentCard Width="50" style="padding: 5px; margin-left: 15px" @rendermode="RenderMode.InteractiveServer">
    <FluentNavMenu Width="250" style="margin: 5px" Collapsible="true" @bind-Expanded="@IsExpanded" Title="HMS" @rendermode="RenderMode.InteractiveServer">
        <FluentNavLink Href="/" Match="NavLinkMatch.All" Icon="@(new Icons.Regular.Size20.Home())" IconColor="Color.Accent">Home</FluentNavLink>
        <FluentNavLink Href="/" Icon="@(new Icons.Regular.Size20.Megaphone())" IconColor="Color.Accent">Announcements</FluentNavLink>
        <FluentNavLink Href="/" Icon="@(new Icons.Regular.Size20.People())" IconColor="Color.Accent">Members list</FluentNavLink>
        <FluentNavLink Href="/" Icon="@(new Icons.Regular.Size20.ReceiptSparkles())" IconColor="Color.Accent">Bills</FluentNavLink>
        <FluentNavLink Href="/" Icon="@(new Icons.Regular.Size20.ReceiptMoney())" IconColor="Color.Accent">Collection</FluentNavLink>
        <FluentNavLink Href="/" Icon="@(new Icons.Regular.Size20.ServiceBell())" IconColor="Color.Accent">Services</FluentNavLink>
        <FluentNavLink Href="/" Icon="@(new Icons.Regular.Size20.ClipboardBulletList())" IconColor="Color.Accent">Expenses</FluentNavLink>
        <FluentDivider />
        <FluentNavLink Href="/admins" Icon="@(new Icons.Regular.Size20.ContactCard())" IconColor="Color.Accent">Admins</FluentNavLink>
        <FluentNavLink Href="/archive" Icon="@(new Icons.Regular.Size20.Archive())" IconColor="Color.Error"><span style="color: #bc2f32;">Archive</span></FluentNavLink>
    </FluentNavMenu>
</FluentCard>